{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Wyloguj się" %}{% endblock %}

{% block content %}
<div class="site-section" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h1>{% trans "Wyloguj się" %}</h1>

                <p>{% trans 'Czy na pewno chcesz się wylogować?' %}</p>

                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <button type="submit" class="btn btn-primary btn-lg btn-block" value="Submit message">{% trans 'Wyloguj się' %}</button>
                </form>
              </div>
        </div>
    </div>
</div>

{% endblock %}
