{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reset hasła" %}{% endblock %}

{% block content %}
<div class="site-section" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h1>{% trans "Reset hasła" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Zapomniałeś swojego hasła? Wpisz poniżej swój adres e-mail, a my wyślemy Ci wiadomość e-mail umożliwiającą jego zresetowanie." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary btn-lg btn-block mb-2" value="{% trans 'Resetuj hasło' %}" />
                </form>

                <a href="{% url 'account_login' %}"><p>{% blocktrans %}Powrót do logowania{% endblocktrans %}</p></a>
                <a href="{% url 'contact' %}"><p>{% blocktrans %}Skontaktuj się z nami, jeśli masz problemy ze zresetowaniem hasła.{% endblocktrans %}</p></a>
              </div>
        </div>
    </div>
</div>
{% endblock %}
