{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="site-section">
   <div class="container">
       <div class="row justify-content-center">
           <div class="col-md-12">
               <div>
                   <a href="{% url 'staff:product-list' %}">Wróć do listy produktów</a>
                   <hr/>
                   <h1>Dodaj produkt</h1>
               </div>
               <form method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                   {{ form|crispy }}
                   <button type="submit" class="btn btn-primary">Potwierdź</button>
               </form>

           </div>
       </div>
   </div>
</div>

{% endblock content %}
