{% extends "base.html" %}

{% block content %}

<div class="site-section">
   <div class="container">
       <div class="row justify-content-center">
           <div class="col-md-12">
               <h2 class="text-black">Portal Pracowniczy</h2>
               <a href="{% url 'staff:product-create' %}">Dodaj nowy produkt</a>
               <div class="card">
                   <div class="card-body">
                       <a href="{% url 'staff:staff' %}">Zamówienia</a>
                       <hr />
                       <h5 class="card-title">Produkty</h5>
                       <div class="site-blocks-table">
                           <table class="table">
                               <thead>
                                   <tr>
                                       <th>Nazwa</th>
                                       <th>Cena</th>
                                       <th>Akcje</th>
                                       <th>Status produktu</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for product in products %}
                                   <tr>
                                       <td>{{ product.title }}</td>
                                       <td>{{ product.get_price }} zł</td>
                                       <td>
                                           <a href="{{ product.get_update_url }}">Aktualizuj</a>
                                           <a
                                              tabindex="0"
                                              class="btn btn-sm btn-primary"
                                              role="button"
                                              data-html="true"
                                              data-toggle="popover"
                                              data-trigger="focus"
                                              title="Are you sure you want to delete this product?"
                                              data-content="<a href='{{ product.get_delete_url }}'>Confirm</a>"
                                           >X</a>
                                       </td>
                                       <td>{% if product.active %}Aktywny{% else %}Nieaktywny{% endif %}</td>
                                   </tr>
                                   {% empty %}
                                   <tr>
                                       <td colspan="4">Brak produktów</td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

{% endblock content %}

{% block scripts %}


{% comment %} PO KLIKNIECIU WYSKAKUJE POPOVER {% endcomment %}
<script>
   $(function () {
       $("[data-toggle=popover]").popover();
   });
</script>

{% endblock scripts %}
