{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-5 pt-md-0">
            </div>
        </div>
    </div>
</div>

<div class="site-section" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h2 class="h3 mb-3 text-black">Magic Knots</h2>
            </div>
            <div class="col-md-7">
                <h5 class="h5 mb-3 text-black">
                    Odkryj magię ręcznie wykonanych makram!
                    Zapraszamy Cię do podróży w świat delikatnych węzłów,
                    kunsztownych wzorów i naturalnych materiałów.
                    Oferujemy szeroki wybór unikalnych wzorów i stylów,
                    które zaspokoją różnorodne gusta i preferencje.
                    Bez względu na to, czy szukasz pięknego wiszącego dekoru do swojego wnętrza,
                    oryginalnej biżuterii czy unikatowego prezentu dla bliskiej osoby,
                    mamy coś specjalnego dla Ciebie.
                    Nasza pasja do tworzenia makramy wynika z pragnienia wprowadzenia piękna do Twojego życia.
                    Chcemy, aby nasze dzieła wzbogacały przestrzeń,
                    w której się znajdują, i dodawały wyjątkowego charakteru każdemu wnętrzu.
                    Makramy są nie tylko ozdobą, ale także wyrazem Twojego indywidualnego stylu.
                    Ponadto, oferujemy również możliwość zamówienia spersonalizowanych makram.
                    Tworzymy dla Ciebie niepowtarzalne dzieła, które odzwierciedlają Twoją wyjątkowość.
                    Zamów już dziś nasz ręcznie wykonany makram i dostrzeż różnicę, jaką może przynieść do Twojego życia.
                    Dołącz do nas i pozwól nam dodać nutę wyjątkowości do Twojego otoczenia.
                </h5>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
