{% extends "base.html" %}

{% block content %}

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="text-black">Twój profil</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ request.user.email }}
                            <a href="{% url 'account_logout' %}">
                                <small class="float-right">Wyloguj się</small></a>
                        </h5>
                        <hr />
                        <h5 class="card-title">
                            <a href="{% url 'account_change_password' %}">Zmień hasło</a>
                        </h5>
                        <hr />
                        <h5 class="card-title">
                            <a href="{% url 'account_email' %}">Zmień email</a>
                        </h5>
                        <hr />
                        <h5 class="card-title">Twoje zamówienia</h5>
                        <div class="site-blocks-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nr zamówienia</th>
                                        <th>Data</th>
                                        <th>Suma</th>
                                        <th>Status płatności</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td><a href="{% url 'cart:order-detail' order.pk %}">#{{ order.reference_number }}</a></td>
                                        <td>{{ order.ordered_date }}</td>
                                        <td>${{ order.get_total }}</td>
                                        <td>{% if order.ordered %}Zapłacone{% else %}Niezapłacone{% endif %}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">Nie masz jeszcze żadnych zamówień.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
